<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com" type="text/javascript"></script>
    <title>
      {% if metadata["page_title"] %}    
          {{ metadata["page_title"][0] }}
      {% else %}
          Default title
      {% endif %}
    </title>
    {% block dependencies %}{% endblock %}
  </head>
  <body>
    <div class="font-serif">
      <div
        class="grid grid-cols-1 mx-3 lg:grid-cols-10 w-100 h-screen"
        id="navbar"
      >
        {% block navbar %}
        <div
          class="h-100 overflow-hidden justify-center flex flex-col text-center col-span-1"
        >
            {% for i in links %}
                <a
                    class="m-2 py-2 hover:bg-gray-800 hover:text-white rounded-md"
                    id="{{ i }}"
                    href="{{ links[i] }}"
                >{{ i }}</a
                >
            {% endfor %}
        </div>
        {% endblock %}
        <div class="border-r-2 border-l-2 col-span-7 overflow-y-scroll" id="content">
          {% block content %}{% endblock %}
          <div class="invisible py-5 my-5">
          </div>
        </div>
        {% block meta %}
        <div
          class="sticky top-0 bottom-0 h-screen justify-center content-center align-center object-center flex flex-col col-span-2 text-center m-3"
          id="meta"
        >
          <p class="flex justify-center items-center flex-col">
            <img src="{{ about_pic_source }}" alt="Author Picture" class="rounded-full py-5 my-5" width="30%">
            <div class="text-2xl text-center font-bold">
                About
            </div>
            {{ about }}
          </p>
          <p class="flex flex-col lg:columns-3 columns-1 py-5 my-5">
            {% for i in socials %}
                <a
                class="m-2 py-2 hover:bg-gray-800 hover:text-white rounded-md"
                href="{{ socials[i] }}"
                >{{ i }}</a
                >
            {% endfor %}
          </p>
        </div>
        {% endblock %}
      </div>
      {% include 'partials/footer.html' %}
    </div>
  </body>
</html>
